:root {
    --main: rgb(200, 200, 200);
    --accent: rgb(0, 0, 0);
    --links: rgb(255, 33, 218);
}

html {
    background-color: var(--main);
}

.login {
    text-align: center;
    margin-top: 10%;
    color: var(--accent);
}

.login a {
    color: var(--links);
}

.login .username {
    width: 240px;
    height: 20px;
    border-radius: 25px;
}

.login .password {
    width: 240px;
    height: 20px;
    border-radius: 25px;
    margin-left: 50px;
}

.login .username-login {
    border-radius: 25px;
    margin-top: 10px;
    height: 25px;
}